{% extends 'base.html.twig' %}

{% block title %}Главная{% endblock %}

{% block body %}
{# комментарий #}
{#    {{ вывод данных }}
      {% блоки, циклы, ветвления %}
 #}
    <main class="container main-margin">
        <section>
            {% if articles %}
                <h2>Популярные статьи</h2>
                {% for article in articles %}
                    <article class="shadow-block">
                        <h3>{{ article.title | upper }}</h3>
                        <p>{{ article.text[:300] }}...</p>
                        {# [первый символ:количество символов]   #}
                        {# текст [1:3] екс                       #}
                        {# [:3] тек                       #}
                        {# [3:]                      #}
                        <a class="shadow-btn more-btn bg-brown-9 text-brown-1 text-center"
                           href="{{ path('article_by_id', { 'id': article.id }) }}">Подробнее</a>
                    </article>
                {% endfor %}
            {% else %}
                <h2>Статьи не были написаны</h2>
            {% endif %}
        </section>

    </main>

{% endblock %}


