{% extends 'base.html.twig' %}

{% block title %}Название Статьи{% endblock %}

{% block body %}

    <main class="container main-margin">

        <article>
            <h1>Про изготовление печенья</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Alias, aut cumque facilis in molestiae obcaecati
                reprehenderit. Ab aliquid amet aut consequuntur cum
                cumque dolorem doloremque eos error esse ex expedita
                explicabo id iste laboriosam molestiae nihil nulla
                numquam perspiciatis quas quod repudiandae rerum sint,
                sit, veritatis vitae, voluptate voluptatem?
                Commodi dignissimos, eius est explicabo hic ipsam
                obcaecati pariatur voluptates voluptatibus?
            </p>

            <img src="#" alt="печеньки" height="300" width="600">
        </article>

    </main>

{% endblock %}
