{% extends 'base.html.twig' %}

{% block title %}Название категории{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/articles.css') }}">
{% endblock %}

{% block body %}
    <aside>
        <nav>
            <a href="#">Категория 1</a>
            <a href="#">Категория 2</a>
            <a href="#">Категория 3</a>
            <a href="#">Категория 4</a>
        </nav>
    </aside>

    <main class="container main-margin">
        <h2>Статьи из категории Название категории</h2>
        <article class="shadow-block">
            <h3>Работа с глиной</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Amet asperiores atque autem dolorem dolores eos facilis
                fugiat impedit inventore magni molestiae nobis quae quia
                quisquam sint sit tempore, tenetur veniam.
            </p>
            <a class="shadow-btn more-btn bg-brown-9 text-brown-1 text-center" href="#">Подробнее</a>
        </article>

    </main>
{% endblock %}
